.section-mint {
  padding-top: 0.5rem;
}

.mint-title,
.mint-counter {
  font-weight: bold;

  display: inline-block;

  color: #02a1b4;
  box-shadow: inset 0 0 1rem 3px rgb(13 98 214 / 56%);
}

span.tab {
  padding: 0 5px;
  /* Or desired space*/
}

.mint-title {
  margin-bottom: 2rem;
  padding: 1rem 1.25rem;

  border-radius: 3rem;
}

.mint-text {
  font-size: 1.25rem;
  font-weight: bold;

  margin-top: 4rem;

  color: var(--gradient-color-dark);
}

.cart {
  display: flex;

  margin-bottom: 2rem;

  justify-content: center;
  gap: 1rem;
  align-items: center;

  color: var(--white-text);
}

.operation-btn {
  font-size: 2.25rem;
  font-weight: bold;

  display: flex;

  width: 2.25rem;
  height: 2.25rem;
  padding: 0;

  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

.mint-counter {
  font-size: 2.25rem;

  display: flex;

  width: 4rem;
  height: 4rem;
  margin: 0;

  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

/* 62em = 992px || tablet screen size */
@media (max-width: 62em) {
  .mint-text {
    max-width: 90%;
    margin: 4rem auto 0;
  }
}

@media (hover: hover) {
  .section-mint .btn:hover {
    color: var(--white-text);
  }
}
